<div class="block biography clearfix"> 
    <div class="about_mueller col-xs-12 col-sm-6 col-sm-push-6">
        <p class="about">Über mich</p>
        <p class="stylist">Hallo! Mein Name ist Aksana. Ich bin dein persönlicher<br><span>Stylist und Bildmacher</span></p>
        <p class="biografy-mueller">Lorem Ipsum ist ein
            einfacher Demo-Text für die Print- und 
            Schr Lorem ipsum dolor sit,
            amet consectetur adipisicing elit.
            Voluptatibus culpa doloremque sapiente 
            laboriosam, vero aliquam a voluptatem 
            laborum natus magnam vitae consequatur
            asperiores unde illo provident omnis laudantium delectus,
            ipsa repellat illum et eius! Ducimus corporis quaerat,
            saepe quasi ratione eum possimus necessitatibus a 
            distinctio impedit omnis nulla ea fuga?
        </p>
        <a class="more" href="#">Weiterlesen</a>
    </div>
    
    <div class="foto-mueller col-xs-12 col-sm-6 col-sm-pull-6 ">
        <img src="images/mueller-foto.jpg" alt="mueller">
    </div>
</div>