<section>
    <div class="block block_news text-center">
        <h3 class="text-uppercase">News</h3>

        <div class="swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="images/news1.png" alt="our partner">
                        </a>
                        <p class="date">Feb 27, 2019</p>
                        <a href="#" class="slider-header">22 Beauty Ideas to Steal From Milan Fashion Week Showgoers</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="images/news2.png" alt="our partner">
                        </a>
                        <p class="date">Feb 26, 2019</p>
                        <a href="#" class="slider-header">Top 10 Shoes of Milan Fashion Week Fall 2018</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="images/news3.png" alt="our partner">
                        </a>
                        <p class="date">Feb 20, 2019</p>
                        <a href="#" class="slider-header">Lacoste’s Fall 2018 Collection Has All-Weather Boots to Battle Wind, Rain, Snow and Cold</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="images/news1.png" alt="our partner">
                        </a>
                        <p class="date">Feb 10, 2019</p>
                        <a href="#" class="slider-header">22 Beauty Ideas to Steal From Milan Fashion Week Showgoers</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="images/news2.png" alt="our partner">
                        </a>
                        <p class="date">Feb 11, 2019</p>
                        <a href="#" class="slider-header">Top 10 Shoes of Milan Fashion Week Fall 2018</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="images/news3.png" alt="our partner">
                        </a>
                        <p class="date">Feb 12, 2019</p>
                        <a href="#" class="slider-header">Lacoste’s Fall 2018 Collection Has All-Weather Boots to Battle Wind, Rain, Snow and Cold</a>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

        <a class="more">Mehr sehen</a>
    </div>
    </section>
