<section>
    <div class="block discounts text-center">
    
        <h3 class="text-uppercase">Angebode</h3>
        <p class="our-goods">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand </p>

        <div class="shop">
            <a class="goods" href="#">
                <img src="images/goods_1.png" alt="goods">
                <p>Farb-und Stilberatung</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_2.png" alt="goods">
                <p>Make-up</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_3.png" alt="goods">
                <p>Dresscodes</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_4.png" alt="goods">
                <p>Personal shopper</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_5.png" alt="goods">
                <p>Shopping /skyp</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_6.png" alt="goods">
                <p>Fotoshootings</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_7.png" alt="goods">
                <p>Figuroptimirung</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_8.png" alt="goods">
                <p>Geschenkgutschein</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_9.png" alt="goods">
                <p>Kinder Shopping</p>
            </a>
            <a class="goods" href="#">
                <img src="images/goods_10.png" alt="goods">
                <p>Seminare</p>
            </a>
        </div>

        <a class="more" href="#">mehr sehen</a>
    </div>
</section>
