<section>
    <div class="block kontakt clearfix">       
        <h3 class="text-uppercase">Kontakt</h3>
        
        <div class="col-xs-12 col-md-4 ask_a_question">
            <h4>Zögern Sie nicht, eine Frage zu stellen</h4>
            <p>Sie können sich über interessierte Dienste informieren, sowie eine Frage über das Feedback-Formular stellen. Sie können sich über interessierte Dienste informieren, sowie eine Frage über das Feedback-Formular stellen. Sie können sich über interessierte Dienste informieren, sowie eine Frage über das Feedback-Formular stellen.</p>
        </div>

        <div class="col-xs-12 col-md-8 kontakt-form">
             <div class="form_for_question">
                <form action="#">
                    <input type="text" placeholder="Name*">
                    <input type="e-mail" placeholder="E-Mailadresse*">
                    <textarea placeholder="Ihre Nachricht*"></textarea>
                    <button class="more">Senden</button>
                </form>
            </div>
        </div>
    </div> 
</section>

<div class="button_up">    
    <a href="#head"></a>  
</div>