<section>
    <div class="block partner text-center">
        <h3 class="text-uppercase">Partner</h3>

        <div class="cooperation">
            <p>Sind Sie an einer Zusammenarbeit interessiert?</p>
            <p>Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen. Es hat nicht nur 5 Jahrhunderte überlebt, sondern auch in Spruch in die elektronische Schriftbearbeitung geschafft (bemerke, nahezu unverändert).</p>
        </div>

        <div class="swiper">
            <div class="swiper-container">

                <div class="swiper-wrapper">
                    <a class="swiper-slide" href="#">
                        <img src="images/partner1.png" alt="our partner">
                    </a>                
                    <a class="swiper-slide" href="#">
                        <img src="images/partner2.png" alt="our partner">
                    </a>            
                    <a class="swiper-slide" href="#">
                        <img src="images/partner3.png" alt="our partner">
                    </a>                
                    <a class="swiper-slide" href="#">
                        <img src="images/partner1.png" alt="our partner">
                    </a>            
                    <a class="swiper-slide" href="#">
                        <img src="images/partner2.png" alt="our partner">
                    </a>                
                    <a class="swiper-slide" href="#">
                        <img src="images/partner3.png" alt="our partner">
                    </a>                    
                </div>

                <div class="swiper-buttons">                    
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <a class="more">Mehr sehen</a>
    </div>
</section>
