@font-face {
  font-family: PTSans;
  src: url('/fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icons/icomoon.eot?rexgz6');
  src:  url('/fonts/icons/icomoon.eot?rexgz6#iefix') format('embedded-opentype'),
  url('/fonts/icons/icomoon.ttf?rexgz6') format('truetype'),
  url('/fonts/icons/icomoon.woff?rexgz6') format('woff'),
  url('/fonts/icons/icomoon.svg?rexgz6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
